* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f5f5f5;
}

header {
  text-align: center;
  padding: 40px 0;
  background: #222;
  color: #fff;
}

header h1 {
  font-size: 2.5rem;
}

.section-title {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto 20px auto;
  font-size: 2rem;
  font-weight: bold;
  color: #222;
}


.projects-section {
  padding: 40px 20px;
}

.projects-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.project-card {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.project-card img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9; 
  object-fit: cover;
  border-radius: 8px;
}


.project-card h3 {
  margin: 15px 0 8px;
}

.project-card p {
  font-size: 0.9rem;
  color: #555;
}

.btn {
  display: inline-block;
  margin-top: 12px;
  padding: 10px 15px;
  background: #222;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s;
}

.btn:hover {
  background: #000;
}
