* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.blubContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


.blub_image {
  width: 55%;
  max-width: 300px;   
  height: auto;
  border: 2px solid black;
  border-radius: 10px;
}


p {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10px;
}


@media (max-width: 480px) {
  .blub_image {
    width: 70%;
    max-width: 250px;  
  }
  p {
    font-size: 1.6rem;
  }
}
