*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blubContainer .blub_image{
  width: 40vw;
  height: 70vh;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  
}

p{
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
 
}