*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(0,0,0);
 
}
.mainContainer{
  background-image: url(./image/netflixBanner.jpg);
  width: 100%;
  height: 105vh;
}
.blackTransparency{
   width: 100%;
  height: 105vh;
background: linear-gradient(
  to top,
  rgba(0, 0, 0, 1) 0%,
  rgba(0, 0, 0, 0.65) 40%,
  rgba(0, 0, 0, 0.35) 70%,
  rgba(0, 0, 0, 0.1) 90%,
  rgba(0, 0, 0, 2) 99%
);


}
.netflixContainerLogin{
  width: 80%;
  height: 12vh;
  margin: auto;
  display: flex;
 align-items: end;
 justify-content: space-between;
 list-style: none;
}
.netflixLogo{
  width: 150px;
  height: 60px;
  display: flex;

}
.singIn{
  display: flex;
  font-size: 1.3rem;
   color: white;
   font-weight: 500;
}
.language{
 padding-left: 10px;
  border: 1.5px solid rgb(87,87,87);
  margin-right: 15px;
  border-radius: 5px;
}
.UnlimitedMovies{
  color: white;
  width: 40%;
  height: 40vh;
  margin: auto;
  margin-top: 25vh;
 
  list-style: none;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.moviesHeading{
font-size: 4rem;
font-weight: bold;
}
.emailContainer{
  width: 100%;
  height: 10vh;
  display: flex;
 
  justify-content: space-around;
  align-items: end;
}
.emailInput{
  background-color: rgb(16,16,16);
  width: 24vw;
  height: 7vh;
  border-radius: 5px;
  border: 1px solid rgb(93,94,94);
  color: rgb(243, 238, 238);
   padding-left: 12px;  
   font-weight: 700;
}
input::placeholder {
  color: rgb(193, 188, 188);     
}
.getstart{
  width: 210px;
  height: 47px;
  border-radius: 5px;
  background-color: rgb(229,9,20);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  border: none;
}

.terndingNow{
  display: grid;
  grid-template-columns: repeat(5, 15vw); 
  grid-template-rows: 40vh; 
  gap: 30px; 
  width: 80%;
 
  margin: auto;
  height: 40vh;
}

.movie1{
  background-image:url(https://occ-0-2484-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABU_Fh4xbFDYguh3FqZEf5iceSCLJvO1Oo-VOc9xdk1ruOZHFHw8K0KhWtWYC7XswQJgdqkNCyKmXftvcBpnuJfrjTpYJuomPimc.webp?r=a26);

  border-radius: 5px;
background-size: cover;
  background-repeat: no-repeat;
}


.movie2{
 background-image:url(https://occ-0-2484-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABQFmi2qrQTOShMevIIgOcMdy2h-nqU5swZHnjzJZJbnfTO_oJnzTZp4B8KKOEPMq0DzI2z5-XE4bjchCAQYlPvWR1jBzggTo3sM.webp?r=960);
  border-radius: 5px;
background-size: cover;
  background-repeat: no-repeat;
}
.movie3{
 background-image:url(https://occ-0-2484-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABVCzd41nKAatdvwy0DT1M5D-xSzSdBdKklegmczhdyKYvEEwunaUUcE5xr7Zjkn9Ywhm3n-2g0wi5s1nB3J1bAhe8t3j0ENBjxw.webp?r=267);

  border-radius: 5px;
background-size: cover;
  background-repeat: no-repeat;
}.movie4{
 background-image:url(https://occ-0-2484-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABXofeOBMXfake2UpvS5aFutul0vL1os5iYG20jqPr6_CIZz7qEqvCqNXmIU067p1VhsR0lI1FDQBpMdmsupJ_6BaGVGcv-8SnP9DEaXEY3Jp8rvUHARX3b1iQhLn3rpbw8W_.webp?r=184);

  border-radius: 5px;
background-size: cover;
  background-repeat: no-repeat;
}
.movie5{
  background-image:url(https://occ-0-2484-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABXuxnTub5falOGY9MXXmFvUqTEHS-jYkcWNjQr7OAdPRQ7mtHheMBLi4uJi9rhLCLcsfHlrNXWRbuNGcCWRkJUoWlT92oqoEoWE.webp?r=00a);

  border-radius: 5px;
background-size: cover;
  background-repeat: no-repeat;
}

.movieNo {
  font-size: 6rem;     
  font-weight: 900;   
  color: black;       
  display: flex;
  margin-top: 23vh;
   -webkit-text-stroke: 2px white;  
 
  transform: translateX(-20px); 
 
}



.moreReasonJoin{
  width: 80%;
  height: 40vh;
}
.enjoyYourTV{
   display: grid;
  grid-template-columns: repeat(4, 20vw); 
  grid-template-rows: 40vh; 
  gap: 20px; 
  width: 80%;
 
  margin: auto;
  height: 40vh;
}
.enjoyYourTVList{
    background: linear-gradient(135deg, #1b1b36, #3b103c); 
    border-radius: 20px;
    padding: 25px;
    color: white;
    position: relative;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.05);
    overflow: hidden;
}
.enjoyYourTVList h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.enjoyYourTVList p {
  font-size: 15px;
  color: #d4d4d4;
  line-height: 1.4;
  width: 80%;
}
.tvIcon {
  width: 80px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 10px;
}



.frequentlyAskedQuestions{
  width: 85%;          

  height: 85vh;
  margin: auto;
  margin-top: 20vh;
 
}
.askedQuestion{
  background-color: rgb(48, 47, 47);
 color: white;
 font-size: 2rem;
  width: 100%;
  height: 12vh;
  margin-bottom: 7px;

   display: flex;
justify-content: space-between;
padding-right: 40px;
padding-left: 18px;
align-items: center;
}


.emailContainer2{
  width: 55%;
  height: 10vh;
  display: flex;
 margin: auto;
  justify-content: space-around;
  align-items: end;
}
.emailInput2{
  background-color: rgb(16,16,16);
  width: 40vw;
  height: 8vh;
  border-radius: 5px;
  border: 1px solid rgb(93,94,94);
  color: rgb(239, 236, 236);
   padding-left: 12px;  
   font-weight: 700;
}
.getstart2{
  width: 30vh;
  height: 8vh;
  border-radius: 5px;
  background-color: rgb(229,9,20);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  border: none;
}
.footerContainer{
  height: 80vh;
  width: 100%;
  margin-top: 15vh;
}
.question{
  width: 80%;
  height: 60vh;
  margin: auto;
  padding-right: 15vw;
 
}
.faq{
  color: rgb(157,157,157);
  display: flex;
 justify-content: space-between;
 
}
.aqList{
 list-style: none;

}
.aqList li {
  margin-bottom: 15px;  
}
.language2{
  margin-top: 6vh;
padding-left: 15px;
  border: 1.5px solid rgb(87,87,87);
  margin-right: 20px;
  border-radius: 5px;
}